<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN-Msrmh</title>
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />
</head>
<body>
<div id="page">
    <div id="pagetop">
        <p ><img src="/images/purple-logo.jpg" style="width: 200px; height: 65px; float: left; position: absolute; left: 0px; "><div style="font-size: x-large ; text-align: center; padding-top: 2%">ADMIN LOGIN</div><div  style="font-size: medium ; text-align: center; padding-top: 1%">POWERED BY PRAJWAL BR WEBSITES</div></p>
    </div>
    <div id="header">ENTER ADMIN DETAILS </div>
    <div id="main">
        <div >
            <form action="/admin" method="POST" class="content">
                <label style="font-size: 25px; color: #07144B">Enter username: </label>
                <input type="text" name="u" class ="edit" placeholder="Username" required="required" /><br><br><br>
                <label style="font-size: 25px; color: #07144B">Enter password : </label>
                <input type="password" name="p" class ="edit" placeholder="Password" required="required" /><br><br><br>
                <button type="submit" class="new1" style="color: black">    LOGIN   </button><br><br><br>
            </form>
            <form class="content" method="post">
                <button  formaction="/forpwd" class="new1" style="color: black">Forgot password?</button>
            </form>
        </div>
    </div>
    <div id="footer">
        <p>
        </p>
    </div>
</div>
<img src="/images/l1.jpg" style="width: 100%; height: 40px; padding-top: 9%">

</body>
</html>
