<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN-Msrmh</title>
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />
</head>
<body>
<div id="page">
    <div id="pagetop">
        <p ><img src="/images/purple-logo.jpg" style="width: 200px; height: 65px; float: left; position: absolute; left: 0px; "><div style="font-size: x-large ; text-align: center; padding-top: 2%">HELP</div><div  style="font-size: medium ; text-align: center; padding-top: 1%">POWERED BY PRAJWAL BR WEBSITES</div></p>
    </div>
    <div id="header"></div>

    <div id="main">
        <div class="content">
            <p style="font-size: large; color: #07144B; font-family: 'Segoe UI Semilight'">Details will be sent through email.  Please enter the user name.</p>
            <form method="POST" class="content">
                <input type="text" name="user" class ="edit" placeholder="Username" required="required" />
                <br><br><br>
                <button class="new1" onclick="myFunction()" formaction="/mail" style="color: black"> Submit</button><br>
            </form>
        </div>
    </div>
    <!--<script>-->
        <!--function myFunction() {-->
            <!--if(u===1)-->
                <!--alert("Email sent");-->
            <!--else-->
                <!--alert("Enter correct admin username");-->
            <!--}-->
    <!--</script>-->

    <div id="footer">
        <p>
        </p>
    </div>
</div>
</body>
</html>
