<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Home</h1>
  <h2><button onclick="q()" name="1">Take Test</button></h2>
  <script>

      function q() {
          window.location = "/question";
      }

  </script>
  </body>
</html>
