<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />

    <title>Admin</title>
</head>

<body>
<div id="page">
    <div id="pagetop" style="display: inline-block">
        <img src="/images/purple-logo.jpg" style="width: 200px; height: 65px; float: left; position: absolute; left: 0px; ">
        <div class="links" style="float: left; padding-top: 0px">
            <form method="post">
                <ul>
                    <li><button formaction="/logout" class="new1" >Logout</button></li>
                    <li><button formaction="/quizdetail" class="new1">Quiz details</button></li>
                    <li><button formaction="/adlogin" class="new1"> Settings</button></li>
                    <li><button formaction="/admins" class="new1" >Departments</button></li>
                    <li><button formaction="/report" class="new1" >Reports</button></li>
                </ul>
            </form>
        </div>
        <p style="text-align: center">POWERED BY PRAJWAL BR WEBSITES</p>
    </div>

    <div id="main">
        <div class="content">
            <div class="main_top">
                <h1>Candidate details</h1><br><br>
            </div>

            <div class="main_body">

            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>
    <div id="footer">
        <p>
        </p>
    </div>



</div>
</body>
</html>
