<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />
<title>Start quiz</title>
</head>

<body>
    <div id="page">
      <div id="pagetop">
     </div>
        
        <div id="header">   Read the instructions carefully     </div>
  
<div id="main">
	<div class="content">
        	<div class="main_top">
            </div>
           	<div class="main_body">
            <h2>THE QUIZ CONSISTS OF <%= num%> QUESTIONS</h2><br>
                <h2>THE TIME LIMIT TO FINISH THE QUIZ IS <%= tlimit%> MINUTES</h2><br>
                <h2>CLICK START TO BEGIN THE QUIZ</h2><br>
                <h2>ALL THE BEST!!!</h2>
                <br><br>
            </div>
    <div class="b">
        <br>
        <form action="/index" method="post" class="content">
        <button class="Button">
            START
        </button></form>
    </div>
			</div>
            <div class="clear">&nbsp;</div>
        </div>
<div id="footer">
        <p>
        </p>
        </div>
        </div>
</body>
</html>
